<VirtualHost *:80>
	ServerName :name:
	ServerAlias www.:name:

	ServerAdmin :mail:
	DocumentRoot :home:/:name:/:public:

	ErrorLog :logPath:/error.log
	CustomLog :logPath:/access.log combined
	<Directory :home:/:name:>
	    AllowOverride All
	</Directory>
</VirtualHost>
